@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding-right: 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('https://wallpapers.com/images/hd/anime-sky-g5t12bga7nhfpkv6.jpg');
    background-size: cover;
}
.bottom{
    position: fixed;
    bottom: 0;                /* stick to bottom */
    left: 0;
    width: 100%;              /* full width */
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;            /* better than margin */
    box-sizing: border-box;   /* padding doesn’t break layout */
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 75px;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}
.songitem img{
    width: 43px;
    margin: 0 23px 0;
    border-radius: 50px;  
    background-size: contain;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
     font-family: 'Varela Round', sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.8s ease-in;
}


